body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

p {
  background-color: lightblue;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 1100px;
  font-size: 1.2rem;
  line-height: 1.6;
  border-radius: 5px;
}
